In [3]:
import pandas as pd

In [5]:
data = pd.read_parquet('yellow_tripdata_2023-01.parquet')

In [7]:
print(pd.io.sql.get_schema(data.reset_index(), 'yellow_tripdata_2023_01'))

CREATE TABLE "yellow_tripdata_2023_01" (
"index" INTEGER,
  "VendorID" INTEGER,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "RatecodeID" REAL,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL,
  "airport_fee" REAL
)

In [8]:
pd.to_datetime(data['tpep_pickup_datetime'])
pd.to_datetime(data['tpep_dropoff_datetime'])

0         2023-01-01 00:40:36
1         2023-01-01 01:01:27
2         2023-01-01 00:37:49
3         2023-01-01 00:13:25
4         2023-01-01 00:21:19
                  ...
3066761   2023-02-01 00:12:33
3066762   2023-01-31 23:50:36
3066763   2023-01-31 23:25:36
3066764   2023-01-31 23:53:00
3066765   2023-01-31 23:21:56
Name: tpep_dropoff_datetime, Length: 3066766, dtype: datetime64[us]

In [11]:
from sqlalchemy import create_engine

engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [12]:
engine.connect()

In [14]:
print(pd.io.sql.get_schema(data.reset_index(), 'yellow_tripdata_2023_01', con=engine))

CREATE TABLE yellow_tripdata_2023_01 (
	index BIGINT,
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	airport_fee FLOAT(53)
)

In [15]:
data.head(0).to_sql('yellow_taxi_2023_01', con=engine, if_exists='replace')

0

In [16]:
len(data)

3066766

In [17]:
data.to_sql('yellow_taxi_2023_01', con=engine, if_exists='append')

766